* {
  font-family: "Futura";
  color: rgba(255, 255, 255, 0.92);
}

.black-container {
  background-color: rgba(0, 0, 0, 0.92);
  position: flex;
  height: min-content;

  width: 100%;
}

.black-container-home {
  background-color: rgba(0, 0, 0, 0.92);
  position: absolute;
  height: 100%;

  width: 100%;
}

.greeting {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  user-select: none;

  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 60%;
  margin-left: -300px;
  margin-top: -300px;
}

.greeting-nav-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255);
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);

  transition: border 2s ease;
}

.greeting-nav-item {
  border-bottom: 1px solid rgba(20, 20, 20, 0.92);
  font-size: 20px;

  transition: border 0.7s ease;
}

.fsize60 {
  font-size: 60px;
}

.fsize35 {
  font-size: 35px;
}

.fsize20 {
  font-size: 20px;
}

.navcontainer {
  padding-top: 2em;
  align-items: center;

  justify-content: space-between;
}

.shopheader {
  background-color: rgba(0, 0, 0, 0.86);
  color: rgba(255, 255, 255, 0.9);
  height: 4em;
}

.shopnav {
  padding-left: 3em;
  padding-top: 1em;
  justify-content: space-between;
  width: 20%;
}

.shopnav-item:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid white;
  padding-bottom: 18px;
  transition: border 2s ease;
}

.shopnav-item {
  border-bottom: 1px solid rgb(36, 35, 35);
  padding-bottom: 18px;
  transition: border 1s ease;
}

.txtblack {
  color: rgba(0, 0, 0, 0.92);
}

.item-card-container {
  background-color: rgb(58, 58, 58);
  margin-top: 5em;

  width: 35em;
  height: 35em;
}

.item-card-image-container {
  display: flex;
  padding-top: 1em;

  align-items: center;
  justify-content: center;
}

.item-card-title {
  justify-content: space-between;
}

.card-price {
  display: flex;
  justify-content: end;
}

.card-name {
}

.itemimg {
  width: 34em;
  height: 30em;
  opacity: 0.25;
}

.items-list-container {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}

.ouritems {
  text-align: center;
  font-size: 40px;
}

.center {
  text-align: center;
}

.tableheader {
  margin-bottom: 3em;
}

.editForm {
  background-color: rgba(0, 0, 0, 0.651);
  height: 4vh;
  color: white;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.514);
  border-radius: 5px;
}

.editFormRow {
  height: 5em;
  text-align: center;
  padding-bottom: 1.5vh;
}

.editFormRow:hover {
  background-color: rgba(255, 255, 255, 0.041);
  cursor: pointer;
}

.alignRight {
  text-align: right;
}

.btn-primary {
  width: 10vh;
}

.justifyBetween {
  justify-content: space-between;
}

.myBtn {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 20vh;
  height: 5vh;
}

.myBtn:hover {
  background-color: rgb(31, 31, 31);
}

.myBtn2 {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 10vh;
  height: 5vh;
}

.myBtn2:hover {
  background-color: rgb(31, 31, 31);
}

.myBtn3 {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 7vh;
  height: 4vh;
}

.myBtn3:hover {
  background-color: rgb(31, 31, 31);
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;

  color: #c0c0c0;
  background-color: #7e7d7d5d;
  border: 1px solid rgb(87, 87, 87);
}

.adminButtonsRow {
  display: flex;
  justify-content: end;
  border: red 1px solid;
}

.searchField {
  background-color: black;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  width: 50vh;
}

.justify-start {
  display: flex;
  justify-content: start;
}

.justify-end {
  display: flex;
  justify-content: end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.pt-10 {
  padding-top: 10vh;
}

.redborder {
  border: 2px solid red;
}
