* {
  font-family: "Futura";
  color: rgba(255, 255, 255, 0.92);
}

html,
body {
  background-color: rgba(0, 0, 0, 0.92);
}
.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.link:hover {
  color: inherit;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.black-container {
  height: fit-content;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.92);
  min-height: 92.5vh;
}

.greeting {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  user-select: none;
  padding-top: 30vh;
  margin: 0 auto;
  height: 60vh;
}

.centerform {
  text-align: center;
  padding-top: 10vh;
  margin: 0 auto;
  width: 40vh;
}

.greeting-nav-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255);
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);

  transition: border 2s ease;
}

.greeting-nav-item {
  border-bottom: 1px solid rgba(20, 20, 20, 0.92);
  font-size: 20px;
  width: min-content;

  transition: border 0.7s ease;
}

.fsize60 {
  font-size: 60px;
}

.fsize35 {
  font-size: 35px;
}

.fsize20 {
  font-size: 20px;
}

.greetingnavcontainer {
  text-align: center;
  margin: 0 auto;
}
.sticky {
  position: sticky;
  top: 0;
}

.shopheader {
  background-color: rgb(34, 34, 34);
  color: rgba(255, 255, 255, 0.9);
  height: 4.5em;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.719) 0px 25px 20px -20px;
}

.shopnav {
  padding-top: 1.5em;
  justify-content: space-between;
  text-align: center;
}

.shopnav-item:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid white;

  transition: border 2s ease;
}

.shopnav-item {
  border-bottom: 1px solid rgb(36, 35, 35);
  padding-bottom: 20px;
  transition: border 1s ease;
}

.shopnav-item-active {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  transition: border 1s ease;
}

.txtblack {
  color: rgba(0, 0, 0, 0.92);
}

.item-card-container {
  background-color: rgb(58, 58, 58);
  margin: 2vh;
}

.item-card-image-container {
  display: flex;
  padding-top: 1em;

  align-items: center;
  justify-content: center;
}

.item-card-title {
  justify-content: space-between;
}

.card-price {
  display: flex;
  justify-content: flex-end;
}

.card-name {
}

.itemimg {
  width: 90%;
  height: 40vh;
  opacity: 0.25;
}

.items-list-container {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}

.ouritems {
  text-align: center;
  font-size: 40px;
  margin-bottom: 8vh;
  padding-top: 3vh;
}

.center {
  text-align: center;
}

.tableheader {
  margin-bottom: 3em;
}

.editForm {
  background-color: rgba(0, 0, 0, 0.651);
  height: 4vh;
  color: white;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.514);
  border-radius: 5px;
}

.editFormRow {
  height: 5em;
  text-align: center;
  padding-bottom: 1.5vh;
}

.editFormRow:hover {
  background-color: rgba(255, 255, 255, 0.041);
  cursor: pointer;
}

.alignRight {
  text-align: right;
}

.btn-primary {
  width: 10vh;
}

.justifyBetween {
  justify-content: space-between;
}

.myBtn {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 20vh;
  height: 5vh;
}

.myBtn:hover {
  background-color: rgb(31, 31, 31);
}

.myBtn2 {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 10vh;
  height: 5vh;
  min-height: 30px;
  min-width: fit-content;
}

.myBtn2:hover {
  background-color: rgb(31, 31, 31);
}

.myBtn3 {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 7vh;
  height: 4vh;
}

.myBtn3:hover {
  background-color: rgb(31, 31, 31);
}

.myBtn-red {
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 7vh;
  height: 4vh;
}

.myBtn4 {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 15vh;
  height: 4vh;
}

.myBtn4:hover {
  background-color: #022419;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;

  color: #c0c0c0;
  background-color: #7e7d7d5d;
  border: 1px solid rgb(87, 87, 87);
}

.adminButtonsRow {
  display: flex;
  justify-content: flex-end;
  border: red 1px solid;
}

.searchField {
  background-color: black;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  width: 50vh;
  height: 5vh;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.centerVertical {
  text-align: center;
  padding-top: 20vh;
  margin-bottom: 2vh;
}

.pt-10 {
  padding-top: 10vh;
}

.redborder {
  border: 2px solid red;
}
.flex-end {
  display: flex;
  justify-content: right;
}

.pointercursor:hover {
  cursor: pointer;
}

.highlight:hover {
  color: white;
}

.inputBoxOutline:focus {
  outline: none;
  border: 3px solid white;
}

.mt-30vh {
  position: relative;
  margin-top: 30vh;
}

.mt-10vh {
  padding-top: 10vh;
}

.ms-4vh {
  margin-left: 4vh;
}

.ps-4vh {
  padding-left: 10px;
}

.notification-passive {
  position: absolute;
  right: 5vh;
  top: 10vh;
  opacity: 0;
  user-select: none;
  transition: opacity 0.5s ease;
}

.notification-active {
  position: absolute;
  right: 5vh;
  top: 10vh;
  user-select: none;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.notification {
  font-size: 200px;
  color: white;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}
.hide {
  opacity: 0;
  user-select: none;
}
